<!DOCTYPE html>
<html>
<head>
    <title>Recovery Calculator</title>
</head>
<body>
    <h1>Recovery Calculator</h1>
    <form method="post">
        <label>Have you been sober for less than 12 weeks?</label><br>
        <input type="radio" name="less_than_12_weeks" value="yes" required> Yes<br>
        <input type="radio" name="less_than_12_weeks" value="no" required> No<br><br>

        <label>Are you on a medication with an aggressive outreach program that will last at least six months?</label><br>
        <input type="radio" name="medication" value="yes" required> Yes<br>
        <input type="radio" name="medication" value="no" required> No<br><br>

        <label>Do you regularly support other people in sober networks?</label><br>
        <input type="radio" name="support" value="yes" required> Yes<br>
        <input type="radio" name="support" value="no" required> No<br><br>

        <input type="submit" value="Calculate">
    </form>
</body>
</html>
